// COLORES
$primary-color: #53e0c5;
$accent-color:#6e00ff;
$warning-color: #F6AA13;
$light-color:#AEB5BF;
$default-color: #444950; 
$danger-color:#F23030;
$parrafo-color:#6a737d;
$link-color: #007bff;
$codeBlock-color:#292d3e;


$text-color: #F2F2F2;
$background-color: #121212;
$border-color: #1E272C;

// FUENTES
$font-family: 'Nunito Sans', Arial, Helvetica, sans-serif !important;
$font-size: 14px;

// TAMAÑOS
$avatar-size: 42px;
$feature-width: 1.8em;
$grid-gutter-width: 1.4rem;
$input-height: 2.4rem;


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,800;1,600&display=swap');